.body {
  background-color: #262f49;
  font-family: Lato, sans-serif;
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.gift-tag {
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
}

.gift-img {
  z-index: 1;
  position: relative;
}

.watermark {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.gift-container {
  background-color: #161e31;
  position: relative;
}

.credits-text {
  color: rgba(218, 218, 218, .6);
  font-size: 12px;
  position: relative;
}

.image {
  width: 200px;
  margin-top: -4px;
}

.label-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.image-2 {
  z-index: 3;
  width: 500px;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bow {
  z-index: 6;
  width: 500px;
  display: block;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.left {
  z-index: 5;
  width: 500px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.right {
  z-index: 4;
  width: 500px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top {
  z-index: 3;
  width: 500px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bottom {
  z-index: 2;
  width: 500px;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gift {
  z-index: 1;
  width: auto;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logo {
  width: 172px;
  background-color: #53596d;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.div-block {
  height: 500px;
  background-color: #161e30;
  position: relative;
}

@media screen and (max-width: 479px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }

  .gift-tag {
    flex-direction: column;
  }

  .watermark {
    position: relative;
  }

  .label-text {
    padding-top: 8px;
  }

  .gift {
    width: auto;
    max-height: 300px;
  }

  .div-block {
    height: auto;
  }
}
